<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../static/css/style.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<title></title>
</head>

<body class="about">
<a href="/" class="home">Home</a><break>

<div class="jumbotron aboutjumbo">
  <h2>About Us</h2>
</div>

<p class="aboutpar"> This project was created as part of the MIT PRIMES program. To go
to the PRIMES website, <a href="http://web.mit.edu/primes/">click
here.</a>
The ultimate goal of this project is to help students learn
programming. The website will be used to test our algorithm because we
wish to use the same algorithm that creates the sudoku boards to help
students learn how to program. <br>
Part of the goal of the sudoku section of this project was to find
a way to classify the difficulty of sudoku puzzles. This is why the
homescreen does not have the simple easy, medium, or hard selection
that you would normally see on a sudoku website. We want to be able to
classify puzzles in their different difficulties based on a set of
constrains (i.e. how many empty squares, density of given numbers,
  number of solutions etc.). </p>


</body> </html>
