<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../../static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="../../../static/Javascripts/timer.js"></script>
<title>Sudoku Website</title>
</head>

<body>
<div>
<form role="form" action="" method="post" id="genSudoku" name="genSudoku" enctype="multipart/form-data"> {% csrf_token %}
<table align="center" class="sudokutable">
{% for row in board %}
  {% if forloop.counter|divisibleby:3 %}
  <tr class="rowline">
  {% else %}
    <tr class="normal">
    {% endif %}  
      {% for val, col, row, wrong in row %}
      {% if col and wrong %}
	<td class="warning colline">
	  <input class="tinput" type="text" name="{{forloop.parentloop.counter}}{{forloop.counter}}" placeholder="{{val}}">
	  </td>
	  {% elif not col and wrong %}
	<td class="warning normal">
	  <input class="tinput" type="text" name="{{forloop.parentloop.counter}}{{forloop.counter}}" placeholder="{{val}}">
	  </td>
	  {% elif not col and not wrong %}
	<td class="normal">
	  {% elif col and not wrong %}
	  <td class="colline">
	  {% endif %}
	 
      {% if val == 0 %}
      <input class="tinput" type="text" name="{{forloop.parentloop.counter}}{{forloop.counter}}">
      {% elif val != 0 and not wrong %}
      <b>{{val}}</b>
      {% endif %}
      </td>
      {% endfor %}
    </tr>
{% endfor %}
</table>
{% if not correct %}
<p align="center">Incorrect squares are shown as placeholders</p>
<input class="btn btn-block btn-success" type="submit" id="check"  name="check" value="Check answers">
{% endif %}

</form>
<br><br>
{% if correct %}
<p>Nice job! You finished the puzzle!
Please fill out the form below so that we can get your input on how
      hard the puzzle was.</p>
<form role="form" action="rating/" method="post" id="rating"
      name="rating" enctype="multipart/form-data"> {% csrf_token %}
On a scale of 1-5, how hard did you find this puzzle?
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    1
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    2
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option3">
    3
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option4">
    4
  </label>
  </div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option5">
    5
  </label>
</div>
<input class="btn btn-xs btn-default" type="submit" id="submit" name="submit" value="Submit">
</form>
{% endif %}
<span id="timer"></span>
<p>Want to try another puzzle? Click <a href="/">here</a> </p>

</div>



</body> </html>
