<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../../static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="../../../static/Javascripts/timer.js"></script>
<title></title>
</head>

<body>
<h1></h1>

<form role="form" action="" method="post" id="checkFillomino" name="checkFillomino" enctype="multipart/form-data"> {% csrf_token %}
<table align="center" class="filloboard">
{% for row in board %}
  <tr>
  {% for cell in row %}
    {% if cell.1 == 0 %}
    <td><input class="finput" type="text" name="{{forloop.parentloop.counter}}{{forloop.counter}}" placeholder="{{ cell.0 }}">

      {% else %}
      
    {% if cell.0 == 1 %}
    <td class = "one">{{ cell.0 }}
      
    {% elif cell.0 == 2 %}
    <td class = "two">{{ cell.0 }}
      
      {% elif cell.0 == 3 %}
    <td class = "three">{{ cell.0 }}
      
      {% elif cell.0 == 4 %}
    <td class = "four">{{ cell.0 }}
      
      {% elif cell.0 == 5 %}
    <td class = "five">{{ cell.0 }}
      
      {% elif cell.0 == 6 %}
    <td class = "six">{{ cell.0 }}
      
      {% elif cell.0 == 7 %}
    <td class = "seven">{{ cell.0 }}
      
      {% elif cell.0 == 8 %}
    <td class = "eight">{{ cell.0 }}
      
      {% elif cell.0 == 9 %}
    <td class = "nine">{{ cell.0 }}

      {% elif cell.0 == 0 %}
      <td><input class="finput" type="text" name="{{forloop.parentloop.counter}}{{forloop.counter}}">
      
      {% endif %}
	{% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</table>
<br>
{% if not correct %}
<p align="center">Incorrect squares are shown as placeholders</p>
<input class="btn btn-block btn-success" type="submit" id="check" name="check" value="Check answers">
Time since last check: <span id="timer"></span> <br>
Total time before last check: {{ time_so_far }} seconds
{% endif %}
</form>

{% if correct %}
<p>Nice job! You finished the puzzle in {{ time_so_far }} seconds!<br>
Please fill out the form below so that we can get your input on how
      hard the puzzle was.</p>
<form role="form" action="ratingFillomino/" method="post" id="rating"
      name="rating" enctype="multipart/form-data"> {% csrf_token %}
On a scale of 1-5, how hard did you find this puzzle?
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    1
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    2
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option3">
    3
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option4">
    4
  </label>
  </div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option5">
    5
  </label>
</div>
<input class="btn btn-xs btn-default" type="submit" id="submit" name="submit" value="Submit">
</form>
{% endif %}

 <a href="/FillominoHome/">Choose Another Fillomino</a><break>


</body> </html>
