<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/Javascripts/timer.js"></script>
<title></title>
</head>

<body class="displaybod">
<a href="/" class="btn btn-sm home" role="button">Home</a>
<div>
<form role="form" action="checkSudoku/" method="post" id="genSudoku" name="genSudoku" enctype="multipart/form-data"> {% csrf_token %}

<div class="jumbotron displayjumbo">
  <div class="container">

<table align="center" class="sudokutable">
{% for row in board %}
    {% if forloop.counter|divisibleby:3 %}
  <tr class="rowline">
    {% else %}
    <tr class="normal">
    {% endif %}  
      {% for element in row %}
      {% if forloop.counter|divisibleby:3 %}
      <td class="colline">
	{% else %}
	<td class="normal">
	  {% endif %}
      {% if element == 0 %}
      <input class="tinput" type="text" name="{{forloop.parentloop.counter}}{{forloop.counter}}">
      {% endif %}
      {% if element != 0 %}
      <b>{{element}}</b>
      {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    
  </table>
</div>
</div>
<div class="row">
  <div class="col-xs-3"></div>
    <div class="col-xs-6">
    <input class="btn btn-block btn-success" type="submit" id="check" name="check" value="Check answers">
    </div>
    </div>
</form>
    </div>
<p class="time">
    Time since started: <span id="timer"></span><br>
    Want to try a different puzzle? Click <a href="/">here</a>
</p>

<address></address>
</body> </html>
