<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<title>Sudoku Website</title>
</head>

<body class="fillhome">
<a href="/" class="home">Home</a>
<div class="jumbotron fillojumbo">
  <h1 align="center">Welcome to Fillomino!</h1>
</div>
<br><br>

  <div class="row">
    
  <div class="col-xs-1"></div>
  
   <div class="col-xs-4">
   <div class="jumbotron selectjumbo">
   <div class="container selectcontainer">
     <h3 align="center">Select puzzle size</h3><br>
   <div class="btn-group">
     <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#" align="center">
     Size
     <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
       {% for size in sizes %}
       <li>
       <a href="{% url 'genFillomino' size %}">{{size}} x {{size}}</a>
       </li>
       {% endfor %}
     </ul>
   </div>
   <br><br>
   </div>
   </div>
   </div>

   <div class="col-xs-2"></div>
   
   <div class="col-xs-4">
     <form class="form-horizontal" role="form" action="genRandFillomino/" method="post" id="genRandFillomino" name="genRandFillomino" enctype="multipart/form-data"> {% csrf_token %}
   <div class="jumbotron selectjumbo">
   <div class="container selectcontainer">
      <h3 align="center">Generate a random puzzle</h3>
	<br>
    <p><button type="submit" class="btn btn-success" align="center">Generate</button></p>
   </div>
   </div>
   </form>
   </div>

   
   </div>
   
   </body>
   </html>
   