<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
</head>

<body>
<h1 align="center">How to play</h1>
Sudoku is a game played on a 9x9 board. <br>
<b>The Object:</b> to fill the board with the numbers from 1-9. <br>
<b>The Rule:</b> each row and column must contain the numbers 1-9 with
no repeats. Each 3x3 box must contain all the numbers 1-9 with no
repeats.<br>
<br>
<input type=button value="Back to the game" onClick="javascript:history.go(-1);">

<address></address>
</body> </html>
