<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../static/css/style.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<title>Sudoku Website</title>
</head>

<body>
<h1 align="center">Welcome to Sudoku!</h1>

<div>
  {% if not show_form %}
  <p align="center"> Please add the puzzles to the database before continuing</p><br><br>
<form align="center"action="addPuzzles/" method="post" id="addPuzzles" name="addPuzzles" enctype="multipart/form-data"> {% csrf_token %}
Click to add puzzles to database: <input class="btn btn-xs btn-primary"type="submit" id="submit" name="submit" value="Add">
</form>
  {% endif %}
</div>
  
<br><br>
<div>
  {% if show_form %}
<form class="form-horizontal" role="form" action="genSudoku/" method="post" id="genSudoku" name="genSudoku" enctype="multipart/form-data"> {% csrf_token %}
  <div class="form-group">
    <label for="numSquares" class="col-sm-4 control-label">Number of squares you would like to empty</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="numSquares" name="numSquares">
    </div>
  </div>
  <div class="form-group">
    <label for="numSolutions" class="col-sm-4 control-label">Number of solutions you would like puzzle to have</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="numSolutions" name="numSolutions">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Generate</button>
    </div>
  </div>
</form>
</div>
{% endif %}
<br><br>
  <p algin="center">Don't know how to play? Click <a href="howtoplay/">here</a></p>


<address></address>
</body> </html>
