<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>  <head>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<title>PuzzleWeb</title>
</head>

<body>
<div class="jumbotron">
  <a href="about/" class="cutout">About Us</a>
  <h1>Welcome to Puzzle Web!</h1> 
  <p> Please select a puzzle from below </p>
</div>


<div>
  {% if not show_form %}
  <p align="center"> Please add the puzzles to the database before continuing</p><br><br>
<form align="center"action="addPuzzles/" method="post" id="addPuzzles" name="addPuzzles" enctype="multipart/form-data"> {% csrf_token %}
Click to add puzzles to database: <input class="btn btn-xs btn-primary"type="submit" id="submit" name="submit" value="Add">
</form>

  {% endif %}
</div>

{% if show_form %}
<div class='row-'>
  
<div class='col-sm-1'>
</div>

<div class='col-sm-4'>
<div class="jumbotron puzzlejumbo">
  <div class="container">
   <h4>Sudoku Puzzles</p>
   <a href="/SudokuHome" class="btn btn-success active" role="button">Play</a>
  </div>
</div>
</div>

<div class='col-sm-1'>
</div>

<div class='col-sm-4'>
<div class="jumbotron puzzlejumbo">
  <div class="container">
    <h4>Fillomino Puzzles</p>
   <a href="/FillominoHome" class="btn btn-success active" role="button">Play</a>
  </div>
</div>

<div class='col-sm-1'>
</div>
  
</div>




{% endif %}


</body> </html>
