<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<title>Sudoku Website</title>
</head>

<body>
<br>
<a href="/" class="btn btn-large" role="button">Home</a>
<h1 align="center" class="heading">Welcome to Sudoku!</h1><br>
  
<br><br>
<div>

 <div class="jumbotron">
  <div class="row">
    <form class="form-horizontal" role="form" action="genSudoku/" method="post" id="genSudoku" name="genSudoku" enctype="multipart/form-data"> {% csrf_token %}
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div class="caption">
	<h3 align="center">Choose a puzzle</h3>

            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aira-expanded="true">Number Empty Squares <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    {% for squaresempty in emptytosolutions %}
		  <li role="presentation"><a value="{{ forloop.counter }}"role="menuitem"tabindex="-1"href="#">{{ forloop.counter }}</a></li>
		  {% endfor %}
                </ul>
            </div>
            
	      

	{% for solutions in emptytosolutions %}
	<div class="dropdown">
	  <button class="hidden btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
	  Number of Solutions
	  <span class="caret"></span>
	  </button>
	  
	  <ul class="dropdown-menu"role="menu"aria-labelledby="dropdownMenu2">
	    {% for solution in solutions %}
	    <li role="presentation"><a value="{{ solution }}"role="menuitem"tabindex="-1"href="#">{{ solution }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	{% endfor %}



	<script src="jquery.js"></script>
	<script>
	
	$("#dropdownMenu1").change(function() {
	console.log("menu 1 changed");
	if(typeof $(this).data('options') === "undefined"){
	/*Taking an array of all options-2 and kind of embedding it on the select1*/
	$(this).data('options',$('#dropdownMenu2 option').clone());
	}
	var id = $(this).val();
	var options = $(this).data('options').filter('[value=' + id + ']');
	$('#dropdownMenu2').html(options);
	});

	</script>
	
         <br>
        <p> <button type="submit" class="btn btn-default">Generate</button></p>
      </div>
    </div>
  </div>
  </form>
  <form class="form-horizontal" role="form" action="genRandSudoku/" method="post" id="genRandSudoku" name="genRandSudoku" enctype="multipart/form-data"> {% csrf_token %}
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <h3 align="center">Generate a random puzzle</h3>
	<br><br>
        <p><button type="submit" class="btn btn-default">Generate</button></p>
	<br><br><br>
      </div>
    </div>
  </div>
  </form>
</div>
</div>
</div>
<br><br>
  <p algin="center">Don't know how to play? Click <a
href="howtoplaySudoku/">here</a></p><break>


<address></address>
</body> </html>
