<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/Javascripts/menu.js"></script>
<title>Sudoku Website</title>
</head>

<body class="SudokuBod">
<a href="/" class="btn btn-sm home" role="button">Home</a>
<div class="jumbotron Sudokujumbo">
  <h2 align="center" class="heading Sudokuhead">Welcome to Sudoku!</h2>
  </div>
  

  <div class="row">
    <form class="form-horizontal" role="form" action="genSudoku/" method="post" id="genSudoku" name="genSudoku" enctype="multipart/form-data"> {% csrf_token %}
    <div class="col-xs-1"></div>
  <div class="col-sm-4">
    <div class="jumbotron sudokujumbomini">
    <div class="container">
	<h3 align="center" class="jumbominiheading">Choose a puzzle</h3>
    <div class="dropdown">
      <input type="hidden" name="numSquares">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aira-expanded="true" id="dropdownMenu11">Number Empty Squares <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu11" id="dropdownMenu1">
                    {% for squaresempty in emptytosolutions %}
		  <li role="presentation"><a value="{{ forloop.counter }}"role="menuitem"tabindex="-1"href="#">{{ forloop.counter }}</a></li>
		  {% endfor %}
                </ul>
	      </div>
            
	      

	{% for solutions in emptytosolutions %}
	      <div class="hidden dropdown" id="hiddenmenu-{{ forloop.counter }}">
		<input type="hidden" name="numSolutions">
	  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu22" data-toggle="dropdown" aria-expanded="true">
	  Number of Solutions
	  <span class="caret"></span>
	  </button>
	  
	  <ul class="dropdown-menu"role="menu"aria-labelledby="dropdownMenu22" id="dropdownmenu2">
	    {% for solution in solutions %}
	    <li role="presentation"><a value="{{ solution }}"role="menuitem"tabindex="-1"href="#">{{ solution }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	{% endfor %}

	
         <br>
	<p> <button type="submit" class="btn btn-success">Generate</button></p>

      </div>
      </div>
  </div>
  </form>
  <form class="form-horizontal" role="form" action="genRandSudoku/" method="post" id="genRandSudoku" name="genRandSudoku" enctype="multipart/form-data"> {% csrf_token %}
  <div class="col-sm-2"> </div>
  <div class="col-sm-4">
    <div class="jumbotron sudokujumbomini">
  <div class="container">
        <h3 align="center" class="jumbominiheading">Generate a random puzzle</h3>
	<br>
    <p><button type="submit" class="btn btn-success" align="center">Generate</button></p>
    <br>
      </div>
    </div>
  </div>
  </form>
</div>
<br><br>
<div class="row">
  <div class="col-xs-5"></div>
  <div class="col">
    <p algin="center" class="howtoplay">Don't know how to play? Click <a href="howtoplaySudoku/">here</a></p><break>
  </div>
</div>


<address></address>
</body> </html>
