td{
    width: 50px; 
    border: 1px solid black;
    text-align: center;
}
tr{
    height: 50px;

}
.tinput{
    width: 50px;
    height: 50px;
    text-align: center;
}
.sudokutable{
    border: 2px solid black;
    align: center;
}
.rowline{
    border-bottom: 2px solid black;
}
.colline{
    border-right: 2px solid black;
}

.warning {
    background: #A00000  ;
}
.jumbotron{
    background: #202020;
    font-color: white;
    color: #F0F0F0 ;
}
h1 {color:black;}

.td {color:black;}

.one {background: #909090;}
.two {background: #CCFF00;}
.three {background: #CC6600;}
.four {background: #33CC00;}
.five {background: #336699;}
.six {background: #993333;}
.seven {background: #CC3399;}
.eight {background: #66CCCC;}
.nine {background: #663300;}