td{
    width: 50px; 
    border: 1px solid black;
    text-align: center;
}
tr{
    height: 50px;

}
.tinput{
    width: 50px;
    height: 50px;
    text-align: center;
}
.sudokutable{
    border: 2px solid black;
    align: center;
}
.rowline{
    border-bottom: 2px solid black;
}
.colline{
    border-right: 2px solid black;
}

.warning {
    background: #A00000  ;
}

.td {color:black;}

.one {background: #909090;}
.two {background: #CCFF00;}
.three {background: #CC6600;}
.four {background: #33CC00;}
.five {background: #336699;}
.six {background: #993333;}
.seven {background: #CC3399;}
.eight {background: #66CCCC;}
.nine {background: #663300;}

.finput {
    width: 60px;
    height: 60px;
    text-align: center;
}

.homejumbo{
    text-align: center;
    color: white;
    background-color: #333399;
}

.puzzlejumbo{
    background-color: #333399;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
    color: white;
    text-align: center;

}

.cutout{ 
    align: right;
    color: white;
}

.SudokuBod{
    background-color: #333399;
}

.Sudokujumbo{
    background-color: white;
}

.SudokuHead{
    font-size: 50px;
}

.sudokujumbomini{
    background-color: white;
}

.jumbominiheading{
    font-size: 20px;
}

.howtoplay{
    color: white;
}

.home{
    color: white;
}

.displaybod{
    background-color: #333399;
}

.displayjumbo{
    background-color: white;
}

.time{
    color: #E8E8E8;
}

.checkbod{
    background-color: #333399;
}

.checkedjumbo{
    backgrond-color: white;
}

.fillojumbo{
    background-color: white;
}

.fillhome{
    background-color: #333399;
}

.selectjumbo{
    background-color: white;
    align: center;
}

.selectcontainer{
    align: center;
}

.displayfillo{
    background-color: #333399;
}

.aboutjumbo{
    background-color: white;
    text-align: center;
}

.about{
    background-color: #333399
}

.aboutpar{
    color: white;
}
